<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-sge4dpXwjTjvkIQsbM_K21xp_6rlPf0</string>
	<key>GCM_SENDER_ID</key>
	<string>830263795242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boilerplate</string>
	<key>PROJECT_ID</key>
	<string>flutter-boilerplate-f6dbb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-boilerplate-f6dbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830263795242:ios:f1e0d2d034b2350587ed53</string>
</dict>
</plist>